body{background-image: url(./images/background4.jpeg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
background-color: bisque;
background-image: url(/images/background4.jpeg);
}
h1{text-align: center;font-size: 100px;}
