body{
    background-image: url(./images/background7.avif);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position:center ;
    background-color: rgb(231, 181, 145);}
